<div id="home" class="card mx-auto text-center" style="width: 30rem;">
    <h3> Bienvenido al Sice de la Universidad Alejandro de Humboldt </h3>
    <%= image_tag("sice.jpeg", height: "300px")%>
</div>
